<table>
	<thead>
		<tr>
			<th>Dagsetning</th>
			<th>Heima lið</th>
			<th>Skor</th>
			<th>Útilið</th>
			<th>Skor</th>
			<% if (admin) { %>
				<th>Aðgerðir</th>
			<% } %>
		</tr>
	</thead>
	<tbody>
		<% for (const game of games) { %>
			<%- include('game-row', { game })%>
		<% } %>
	</tbody>
</table>
