<!doctype html>
<html lang="is">

<head>
  <meta charset="utf-8">
  <title><%= locals.title ?? '' %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
	<header>
		<h1><%= locals.title ?? '' %></h1>
		<div>
			<nav>
				<ul>
					<li><a href="/">Forsíða</a></li>
					<li><a href="/leikir">Leikir</a></li>
					<li><a href="/stada">Staða</a></li>
				</ul>
			</nav>
			<% if (locals.loggedIn) { %>
				<div>
					<p>Innskáður notandi: <%= locals.user.name %> (<%= locals.user.username %>)</p>
					<form class="action" action="/logout" method="post"><button>Skrá út</button></form>
				</div>
			<% } else { %>
					<a href="/login">Innskrá</a>
			<% } %>
		</div>
	</header>
	<main>
